* {
  margin: 0;
}
.tete {
  text-align: center;
  color: rgb(162, 22, 22);
}
li {
  text-align: center;
  max-width: 100%;
  padding: 60px;
  display: inline;
  font-size: xx-large;
  font-style: oblique;
  margin-left: 500 px;
}

header {
  height: 400 px;
}
select {
  width: 100%;
  justify-content: space-around;
}
.text {
  border: 2px rgb(177, 33, 33) solid;
  background-color: antiquewhite;
  padding: 45px;
}
#home {
  text-align: center;
  color: blueviolet;
}
h1 {
  text-align: center;
  color: brown;
}
